* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/*------------------------------------------------Nev Bar css start------------------------------------------------------- */

.nav-section {
    box-shadow: 0 1px 10px rgb(0, 0, 0, 0.2)
}

.nav-bar {

    width: 95%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li {
    font-size: 1.2rem;
}

.letf-nav-bar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo p {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #3E3F45;
}

.main-logo {

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {

    width: 20%;


}

.inside-logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

.letf-nav-bar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.letf-nav-bar ul li {
    display: flex;
    align-items: center;
}

.right-nav-bar {
    display: flex;
    align-items: center;
}

.right-nav-bar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.right-nav-bar ul li {
    display: flex;
    font-size: 1.7rem;
    align-items: center;
}

.right-nav-bar ul li svg {
    color: #3E3F45;
    font-weight: 800;
}

.sideMenubar {
    
    top: 0px;
    position: absolute;
    z-index: 999;
    width: 35%;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.open {
    transform: translateX(0%);
}

.side-bar-nav-bar {

    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top-div-class-logo-and-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top-side-bar-buttom ul li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top-side-bar-buttom ul li button {
    padding: 8px;
    background-color: white;
    border: 1px solid #33B5CB;
    border-radius: 4px;
    font-size: 1rem;
}

.top-side-bar-buttom ul li span {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.cross button {
    font-size: 1.3rem;
    position: absolute;
    top: 5px;
    right: 0%;
    background-color: white;
    border: none;
    transform: translateX(-100%);
}

.productLists {
    margin-top: 2%;
    border-top: 1px dotted gray;
}

.productLists table {
    margin-top: 2%;
    width: 100%;
    text-align: left;
}

.productLists table tr {
    display: flex;
    flex-direction: column;
}

.productLists table tr td {
    color: #111111;
    font-weight: 500;
    margin-top: 4.3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 2rem;
    }
}

/* --------------------------------------------Nav bar ends------------------------------------------------------------- */

/* ---------------------------------------------Poster Sections start here-------------------------------------------------*/
.poster-with-buttons {
    display: flex;

}

.poster-section {
    position: relative;
}

.poster-section img {
    width: 100%;


}

.privious {
    z-index: 1;
    top: 50%;
    left: 5%;
    transform: translate(50%, -50%);
    position: absolute;
}

.privious button {
    background-color: transparent;
    border: none;
}

.privious button svg {
    font-size: 2rem;
    color: white;

}

.next {
    z-index: 1;
    top: 50%;
    transform: translate(50%, -50%);
    right: 5%;
    position: absolute;

}

.points {
    margin-top: 2%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.points button {
    background-color: transparent;
    border: none;
}

.main-points {
    background-color: gray;
    padding: 5px;
    border-radius: 50%;
}

.main-points.active {
    background-color: #117A7A;
}

.next button {
    background-color: transparent;
    border: none;
}

.next button svg {
    font-size: 2rem;
    color: white;
}

/* ----------------------------------------------Card Css Start ----------------------------------------------------------- */
.slider-container{
    position: relative;

    display: flex;
    
}
.slide-left{
    position: absolute;
    top:50%;
    left: 2%;
    transform: translate(0% , -50%);
}

.slide-right{
    position: absolute;
    top:50%;
    right: 2%;
    transform: translate(0% , -50%);
}
.slide-left button{
    background-color: transparent;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.slide-right button{
    background-color: transparent;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.heading-our-product{
    margin-top: 2%;
    color: #3E3F45;
    
    text-align: center;
}
.heading-our-product h1{
    font-size: 1.8rem;
}
.main-products-div{
    
    margin: auto;
    align-items: center;
    
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 20px;
   
}

.products{
   

}

.product-Number-and-image{
  
    display: flex;
}

.products-images{
    
    width: 100%;
    
}

.btn{
    padding: 10px;
    background-color: white;
    border: none;
}

.products-images img{
    
   height: 373px;

}

.proviou-image{
    position: absolute;
    top: 50%;
}
.products-title p{

    border-bottom: 1px dotted gray;
    margin-top: 5%;
    text-align: start;
    font-size: 1rem;
    font-weight: 600;
    color: #3E3F45;

}
.products-type p{
    font-size: 1rem;
    color: #3E3F45;
    text-align: start;
}
.all-content{
   display: flex;
   flex-direction: column;
   gap: 10px;
 
}
.product-price{
    text-align: start;
}
.product-price p{
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.product-price svg{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.product-new-price ul li {
    color: rgb(88, 86, 86);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 2px;
  
}
.product-new-price ul li svg{
    display: flex;
}

/* ----------------------------------------------Product-card-css-start----------------------------------------------------- */

.products-detials-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 90%;
    
    margin:2% auto;

}

.product-detials{   

    height: 480px;
    width: 90%;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


.product-details-image{
    position: relative;  
    
}
.product-details-image img{
    width: 100%;
    object-fit: cover;
    height: 370px;
    border-radius: 5px;
    border: 0.4px  solid #9A9A9A ;   
    transition: tranfrom 0.9s ease;
}

.product-rating-wishlist{
    position: absolute;
    padding: 5px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    bottom: 3%;
}
.product-rating{
    border-radius: 2px;
    background-color: gray;
    padding: 2px;
    color: white;
    width: 20%;   
}

.product-wishlist button{
    background-color: ghostwhite; 
    padding: 5px;  
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.product-wishlist button svg{
    font-size: 1.3rem;
}
.product-rating ul {
    list-style: none;
}
.product-rating ul li{
    display: flex;
    gap: 10px;
}
.product-main-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-detials-descripction p{
        border-bottom: 1px dotted gray;
    margin-top: 5%;
    text-align: start;
    font-size: 1rem;
    font-weight: 600;
    color: #3E3F45;
    
}
.pricediv{
    display: flex;
    gap: 20px;
}
.old-price p{
   
     align-items: center;
     justify-content: center;
    display: flex;
    
}

.old-price p span{
    display: flex;
}

.new-price p{
    
     align-items: center;
     justify-content: center;
     display: flex;
     font-size: .8rem;
     color: #3E3F45;
     text-decoration: line-through;
    
}

.new-price p span{
    display: flex;
}


/* ----------------------------------------------Product-card-css-ends-------------------------------------------------------- */

/* ----------------------------------------------Product details starts ------------------------------------------------------ */
.main-cloth-div{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.cloth-image{
    width: 45%;
   
}
.cloth-image img{
    width: 100%;
  
     border-radius: 10px;     
    
    height: 650px;
}
.about-cloth{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cloth-title p{
    color: #58595B;
    font-size: 1.5rem;
    font-weight: 600;
}
.title-cloth{
    margin-top: 1%;
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #888888 !important;
}
.size p{
    margin-top: 1%;
     color: #58595B;
    margin-bottom: 2%;
    font-size: 1rem;
    font-weight: 600;
}
.product-price{
    font-size: 2rem;
       color: #58595B;
}
.dispatch{
    color: #888888;
    font-size: 1rem;
    font-weight: 600;
}


.size ul{

    display: flex;
   
    list-style: none;
    width: 80%;
    justify-content: space-between;
}
.size ul li{
    border: 1px solid #888888;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.colors{
  
    width: 70%;
    
}
.colors p{
    color:  #58595B;;
    margin-bottom: 2%;
    font-size: 1rem;
    font-weight: 600;
}
.product-images  {
    gap: 20px;
    display: flex;
    
}
.product-images button{
    border: none;
    background-color: white;
}
.product-images img{
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.buttons{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.addToCart{
    width: 45%;
}
.wishlist{
    width: 45%;
}
.addToCart button{
    background-color: #32B4C8;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
}
.wishlist button{
      background-color: #32B4C8;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
}
.shiping{
  
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
}

.shiping p{
    font-size: 1.3rem;
}
.ship{
    flex-direction: column;
    margin-top:2%;
    gap: 15px;
    display: flex;
}
.mark{
    color: #32B4C8;
    font-size: 1.5rem;
}
hr{
    width: 80%;
    border: 0.4px light #3E3F45;
}
.social-media{
    width: 80%;
}

.social-media-links-main{
    margin-left: 0px;
   margin-top: 1%;
}
.social-media-links-main ul{
    margin-top: 1%;
    display: flex;
    gap: 20px;
    list-style: none;

    li{

        display: flex;
    }
}
.text p{
    color:#58595B;
}

.social-media-links-main ul li svg{
    font-size: 1.5rem;
    color: #888888;
}
.heading-social p{
    margin-top: 1%;
    color: #58595B;
    font-size: 1rem;
    font-weight: 600;
}

/* ----------------------------------------------Product detials ends----------------------------------------------------------- */

/* ---------------------------------------------footer css start---------------------------------------------------------- */
.main-footer {
margin-top: 5%;
    background-color: #E6E7E8;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.child-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.width {
    width: 80%;
    margin: auto;
}

.listing {}

.listing table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listing table tr th {
    color: #EF8B0F;
    text-align: left;
    font-size: 1.1rem;
}

.listing table tr {
    font-weight: 600;
    color: #3E3F45;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 10px auto 0px;
}

.heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: #EF8B0F;
}

.links {}

.links ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.links ul li {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul li svg {
    height: 70%;
    width: 70%;
}




/* ---------------------------------------------footer css ends ----------------------------------------------------------- */



/*--------------------------------------------- Addind media querys-------------------------------------------------------*/
@media (max-width:1050px) {

    .nav-bar {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .catogries ul li {
        font-size: 1rem;
    }

    .logo p {
        font-size: 1rem;
    }

    .right-nav-bar ul li {
        font-size: 1.5rem;
    }

    .sideMenubar {
        width: 50%;
    }

    .listing table tr th {
        font-size: 1rem;
    }

    .listing table tr {
        font-size: .9rem;
    }

    .heading {
        font-size: 1rem;
    }

    .links ul li {
        height: 30px;
        width: 30px;
    }

}

@media (max-width:780px) {
    .nav-bar {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .catogries ul li {
        font-size: 1rem;
    }

    .logo p {
        font-size: 1.2rem
    }

    .child-footer {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }

    .listing table tr {
        font-size: .9rem;
    }
    .main-products-div{
        width: 80%;
    }

}

@media (max-width:650px) {

    .catogries {
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo p {
        font-size: 1rem;
    }

    .right-nav-bar ul {
        gap: 5px;
    }

    .sideMenubar {
        width: 100%;
    }

    .top-side-bar-buttom ul li button {
        font-size: .9rem;
        padding: 5px;
    }

    /* pposter sections */
    .privious,
    .next {
        display: none;
    }
    
    .heading-our-product h1 {
        font-size: 1.2rem;
    }
    .main-products-div{
        width: 77%;
    }
   
    .all-content{
        gap: 5px;
    }

    .product-price svg{
        font-size: 1rem;
    }

    /* product sectios starts */
    .poster-with-buttons{
       
    }
    .poster-section img {
        width: 100%;       
        object-fit: cover;
    }
    .products-detials-main{
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(1, 1fr);
    }
    .product-detials{
        margin: auto;
        width: 90%;
       
        height: 510px;
    }

    .product-details-image img{
    
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 405px;
    }
 


    /* product section ends */

    /* Footer Section css for responsive */
    .main-footer {
        padding-top: 5%;
    }

    .child-footer {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .listing table tr th {
        font-size: 1rem;
    }

    .listing table tr {
        font-size: .9rem;
    }

    .heading {
        font-size: 1rem;
    }

    .social-media-links {
        margin-top: 0px;
    }

}

@media (max-width:380px) {

    .logo p {
        font-size: .9rem;
    }

    .productLists table tr td {
        margin-top: 1px;
    }

    .productLists table tr td svg {
        font-size: 1.6rem;
    }

    .productLists table {
        margin-top: 4%;
    }


}


@media (max-width:325px) {

    .listing table tr th {
        font-size: .9rem;
    }

    .listing table tr {
        font-size: .8rem;
    }


    .links ul li svg {
        height: 50%;
    }
}